################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/

Constrcting_Types_And_Apps/Managing.Object.End.Of.Lifetime/bin/
Constrcting_Types_And_Apps/Managing.Object.End.Of.Lifetime/obj/
Constrcting_Types_And_Apps/Removing.Explicit.Dependencies/bin/
Constrcting_Types_And_Apps/Removing.Explicit.Dependencies/obj/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Class/bin/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Class/obj/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Method/bin/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Method/obj/
Constrcting_Types_And_Apps/Designing.Application.Layers/bin/
Constrcting_Types_And_Apps/Designing.Application.Layers/obj/
Constrcting_Types_And_Apps/Returning.Multiple.Values.From.Method/bin/
Constrcting_Types_And_Apps/Returning.Multiple.Values.From.Method/obj/
Constrcting_Types_And_Apps/Convert.From.Legacy.To.Strongly.Typed/bin/
Constrcting_Types_And_Apps/Convert.From.Legacy.To.Strongly.Typed/obj/

Coding_Algorithms/Processing.Strings.Efficiently/bin/
Coding_Algorithms/Processing.Strings.Efficiently/obj/