################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/

Constrcting_Types_And_Apps/Managing.Object.End.Of.Lifetime/bin/
Constrcting_Types_And_Apps/Managing.Object.End.Of.Lifetime/obj/
Constrcting_Types_And_Apps/Removing.Explicit.Dependencies/bin/
Constrcting_Types_And_Apps/Removing.Explicit.Dependencies/obj/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Class/bin/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Class/obj/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Method/bin/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Method/obj/
Constrcting_Types_And_Apps/Designing.Application.Layers/bin/
Constrcting_Types_And_Apps/Designing.Application.Layers/obj/
Constrcting_Types_And_Apps/Returning.Multiple.Values.From.Method/bin/
Constrcting_Types_And_Apps/Returning.Multiple.Values.From.Method/obj/
Constrcting_Types_And_Apps/Convert.From.Legacy.To.Strongly.Typed/bin/
Constrcting_Types_And_Apps/Convert.From.Legacy.To.Strongly.Typed/obj/
Constrcting_Types_And_Apps/Making.Classes.Adapt.To.Your.Interface/bin/
Constrcting_Types_And_Apps/Making.Classes.Adapt.To.Your.Interface/obj/
Constrcting_Types_And_Apps/Designing.Custom.Exception/bin/
Constrcting_Types_And_Apps/Designing.Custom.Exception/obj/
Constrcting_Types_And_Apps/Constructing.Objects.With.Complex/bin/
Constrcting_Types_And_Apps/Constructing.Objects.With.Complex/obj/

Coding_Algorithms/Processing.Strings.Efficiently/bin/
Coding_Algorithms/Processing.Strings.Efficiently/obj/
Coding_Algorithms/Simplifying.Instance.Cleanup/bin/
Coding_Algorithms/Simplifying.Instance.Cleanup/obj/
Coding_Algorithms/Keeping.Logic.Local/bin/
Coding_Algorithms/Keeping.Logic.Local/obj/
Coding_Algorithms/Operating.On.Multiple.Classes.The.Same.Way/bin/
Coding_Algorithms/Operating.On.Multiple.Classes.The.Same.Way/obj/
Coding_Algorithms/Checking.For.Type.Equality/bin/
Coding_Algorithms/Checking.For.Type.Equality/obj/
Coding_Algorithms/Processing.Data.Hierarchies/bin/
Coding_Algorithms/Processing.Data.Hierarchies/obj/
Coding_Algorithms/Converting.From.To.Unix.Time/bin/
Coding_Algorithms/Converting.From.To.Unix.Time/obj/
Coding_Algorithms/Caching.Frequently.Requested.Data/bin/
Coding_Algorithms/Caching.Frequently.Requested.Data/obj/
Coding_Algorithms/Delaying.Type.Instantiation/bin/
Coding_Algorithms/Delaying.Type.Instantiation/obj/
Coding_Algorithms/Parsing.Data.Files/bin/
Coding_Algorithms/Parsing.Data.Files/obj/

Ensuring_Quality/Versioning.Interfaces.Safely/bin/
Ensuring_Quality/Versioning.Interfaces.Safely/obj/
Ensuring_Quality/Protecting.Code.From.NullReferenceException/bin/
Ensuring_Quality/Protecting.Code.From.NullReferenceException/obj/
Ensuring_Quality/Avoiding.Magic.Strings/bin/
Ensuring_Quality/Avoiding.Magic.Strings/obj/
Ensuring_Quality/Customizing.Class.String.Representation/bin/
Ensuring_Quality/Customizing.Class.String.Representation/obj/
Ensuring_Quality/Rethrowing.Exceptions/bin/
Ensuring_Quality/Rethrowing.Exceptions/obj/
Ensuring_Quality/Managing.Process.Status/bin/
Ensuring_Quality/Managing.Process.Status/obj/
Ensuring_Quality/Building.Resilient.Network.Connections/bin/
Ensuring_Quality/Building.Resilient.Network.Connections/obj/
Ensuring_Quality/Measuring.Performance/bin/
Ensuring_Quality/Measuring.Performance/obj/

Querying_With_LINQ/Transforming.Object.Shape/bin/
Querying_With_LINQ/Transforming.Object.Shape/obj/
Querying_With_LINQ/Joining.Data/bin/
Querying_With_LINQ/Joining.Data/obj/
Querying_With_LINQ/Performing.Left.Joins/bin/
Querying_With_LINQ/Performing.Left.Joins/obj/
Querying_With_LINQ/Grouping.Data/bin/
Querying_With_LINQ/Grouping.Data/obj/
Querying_With_LINQ/Building.Incremental.Queries/bin/
Querying_With_LINQ/Building.Incremental.Queries/obj/
Querying_With_LINQ/Querying.Distinct.Objects/bin/
Querying_With_LINQ/Querying.Distinct.Objects/obj/
Querying_With_LINQ/Simplifying.Queries/bin/
Querying_With_LINQ/Simplifying.Queries/obj/
Querying_With_LINQ/Operating.On.Sets/bin/
Querying_With_LINQ/Operating.On.Sets/obj/
Querying_With_LINQ/Building.Query.Filter.With.Expression/bin/
Querying_With_LINQ/Building.Query.Filter.With.Expression/obj/
Querying_With_LINQ/Querying.In.Parallel/bin/
Querying_With_LINQ/Querying.In.Parallel/obj/

C_SharpLanguage_Highlights/Simplifying.Application.Startup/bin/
C_SharpLanguage_Highlights/Simplifying.Application.Startup/obj/
C_SharpLanguage_Highlights/Reducing.Instantiation.Syntax/bin/
C_SharpLanguage_Highlights/Reducing.Instantiation.Syntax/obj/
C_SharpLanguage_Highlights/Initializing.Immutable.State/bin/
C_SharpLanguage_Highlights/Initializing.Immutable.State/obj/
C_SharpLanguage_Highlights/Creating.Immutable.Types/bin/
C_SharpLanguage_Highlights/Creating.Immutable.Types/obj/
C_SharpLanguage_Highlights/Simplifying.Immutable.Type.Assignments/bin/
C_SharpLanguage_Highlights/Simplifying.Immutable.Type.Assignments/obj/
C_SharpLanguage_Highlights/Designing.For.Record.Reuse/bin/
C_SharpLanguage_Highlights/Designing.For.Record.Reuse/obj/
C_SharpLanguage_Highlights/Returning.Different.Method.Override.Types/bin/
C_SharpLanguage_Highlights/Returning.Different.Method.Override.Types/obj/
C_SharpLanguage_Highlights/Implementing.Iterators.As.Extension.Methods/bin/
C_SharpLanguage_Highlights/Implementing.Iterators.As.Extension.Methods/obj/
C_SharpLanguage_Highlights/Slicing.Arrays/bin/
C_SharpLanguage_Highlights/Slicing.Arrays/obj/
C_SharpLanguage_Highlights/Initializing.Entire.Modules/bin/
C_SharpLanguage_Highlights/Initializing.Entire.Modules/obj/

Matching_With_Patterns/Converting.Instances.Safely/bin/
Matching_With_Patterns/Converting.Instances.Safely/obj/
Matching_With_Patterns/Catching.Filtered.Exceptions/bin/
Matching_With_Patterns/Catching.Filtered.Exceptions/obj/
Matching_With_Patterns/Simplifying.Switch.Assignments/bin/
Matching_With_Patterns/Simplifying.Switch.Assignments/obj/
Matching_With_Patterns/Switching.On.Property.Values/bin
Matching_With_Patterns/Switching.On.Property.Values/obj
Matching_With_Patterns/Switching.On.Tuples/bin/
Matching_With_Patterns/Switching.On.Tuples/obj/
Matching_With_Patterns/Switching.On.Position/bin/
Matching_With_Patterns/Switching.On.Position/obj/
Matching_With_Patterns/Switching.On.Value.Ranges/bin/
Matching_With_Patterns/Switching.On.Value.Ranges/obj/
Matching_With_Patterns/Switching.With.Complex.Conditions/bin/
Matching_With_Patterns/Switching.With.Complex.Conditions/obj/
Matching_With_Patterns/Using.Logical.Conditions/bin/
Matching_With_Patterns/Using.Logical.Conditions/obj/
Matching_With_Patterns/Switching.On.Type/bin/
Matching_With_Patterns/Switching.On.Type/obj/

Implementing_Dynamic_And_Reflection/Reading.Attributes.With.Reflection/bin/
Implementing_Dynamic_And_Reflection/Reading.Attributes.With.Reflection/obj/
Implementing_Dynamic_And_Reflection/Accessing.Type.Members.With.Reflection/bin/
Implementing_Dynamic_And_Reflection/Accessing.Type.Members.With.Reflection/obj/
Implementing_Dynamic_And_Reflection/Instantiating.Type.Members.With.Reflection/bin/
Implementing_Dynamic_And_Reflection/Instantiating.Type.Members.With.Reflection/obj/
Implementing_Dynamic_And_Reflection/Invoking.Methods.With.Reflection/bin/
Implementing_Dynamic_And_Reflection/Invoking.Methods.With.Reflection/obj/
Implementing_Dynamic_And_Reflection/Replacing.Reflection.With.Dynamic.Code/bin/
Implementing_Dynamic_And_Reflection/Replacing.Reflection.With.Dynamic.Code/obj/
Implementing_Dynamic_And_Reflection/Performing.Interop.With.Office.Apps/bin/
Implementing_Dynamic_And_Reflection/Performing.Interop.With.Office.Apps/obj/
Implementing_Dynamic_And_Reflection/Creating.An.Inherently.Dynamic.Type/bin/
Implementing_Dynamic_And_Reflection/Creating.An.Inherently.Dynamic.Type/obj/
Implementing_Dynamic_And_Reflection/Adding.And.Removing.Type.Members/bin/
Implementing_Dynamic_And_Reflection/Adding.And.Removing.Type.Members/obj/
Implementing_Dynamic_And_Reflection/Calling.Python.Code.From.C.Sharp/bin/
Implementing_Dynamic_And_Reflection/Calling.Python.Code.From.C.Sharp/obj/

Programming_Asynchronously/Creating.Async.Console.Applications/bin/
Programming_Asynchronously/Creating.Async.Console.Applications/obj/
Programming_Asynchronously/Reducing.Memory.Allocations.For.Async/bin/
Programming_Asynchronously/Reducing.Memory.Allocations.For.Async/obj/
Programming_Asynchronously/Creating.Async.Iterators/bin/
Programming_Asynchronously/Creating.Async.Iterators/obj/
Programming_Asynchronously/Writing.Safe.Async.Libraries/bin/
Programming_Asynchronously/Writing.Safe.Async.Libraries/obj/