################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/

Constrcting_Types_And_Apps/Managing.Object.End.Of.Lifetime/bin/
Constrcting_Types_And_Apps/Managing.Object.End.Of.Lifetime/obj/
Constrcting_Types_And_Apps/Removing.Explicit.Dependencies/bin/
Constrcting_Types_And_Apps/Removing.Explicit.Dependencies/obj/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Class/bin/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Class/obj/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Method/bin/
Constrcting_Types_And_Apps/Delegating.Object.Creation.To.Method/obj/
Constrcting_Types_And_Apps/Designing.Application.Layers/bin/
Constrcting_Types_And_Apps/Designing.Application.Layers/obj/
Constrcting_Types_And_Apps/Returning.Multiple.Values.From.Method/bin/
Constrcting_Types_And_Apps/Returning.Multiple.Values.From.Method/obj/
Constrcting_Types_And_Apps/Convert.From.Legacy.To.Strongly.Typed/bin/
Constrcting_Types_And_Apps/Convert.From.Legacy.To.Strongly.Typed/obj/
Constrcting_Types_And_Apps/Making.Classes.Adapt.To.Your.Interface/bin/
Constrcting_Types_And_Apps/Making.Classes.Adapt.To.Your.Interface/obj/
Constrcting_Types_And_Apps/Designing.Custom.Exception/bin/
Constrcting_Types_And_Apps/Designing.Custom.Exception/obj/
Constrcting_Types_And_Apps/Constructing.Objects.With.Complex/bin/
Constrcting_Types_And_Apps/Constructing.Objects.With.Complex/obj/

Coding_Algorithms/Processing.Strings.Efficiently/bin/
Coding_Algorithms/Processing.Strings.Efficiently/obj/
Coding_Algorithms/Simplifying.Instance.Cleanup/bin/
Coding_Algorithms/Simplifying.Instance.Cleanup/obj/
Coding_Algorithms/Keeping.Logic.Local/bin/
Coding_Algorithms/Keeping.Logic.Local/obj/
Coding_Algorithms/Operating.On.Multiple.Classes.The.Same.Way/bin/
Coding_Algorithms/Operating.On.Multiple.Classes.The.Same.Way/obj/
Coding_Algorithms/Checking.For.Type.Equality/bin/
Coding_Algorithms/Checking.For.Type.Equality/obj/
Coding_Algorithms/Processing.Data.Hierarchies/bin/
Coding_Algorithms/Processing.Data.Hierarchies/obj/
Coding_Algorithms/Converting.From.To.Unix.Time/bin/
Coding_Algorithms/Converting.From.To.Unix.Time/obj/
Coding_Algorithms/Caching.Frequently.Requested.Data/bin/
Coding_Algorithms/Caching.Frequently.Requested.Data/obj/
Coding_Algorithms/Delaying.Type.Instantiation/bin/
Coding_Algorithms/Delaying.Type.Instantiation/obj/
Coding_Algorithms/Parsing.Data.Files/bin/
Coding_Algorithms/Parsing.Data.Files/obj/

Ensuring_Quality/Versioning.Interfaces.Safely/bin/
Ensuring_Quality/Versioning.Interfaces.Safely/obj/